name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        BUILD_TYPE: ["Debug", "Release"]
        os: [ windows-latest ]
    steps:
    - uses: actions/checkout@v5

    - name: Show VC version
      run: |
        & "C:\Program Files (x86)\Microsoft Visual Studio\Installer\vswhere.exe"
      shell: pwsh

    - name: Get specific version CMake, v3.28.3
      uses: lukka/get-cmake@v3.28.3
    
    - name: Setup vcpkg (it does not install any package yet)
      uses: lukka/run-vcpkg@v11
      with:
        vcpkgGitCommitId: 84bab45d415d22042bd0b9081aea57f362da3f35 # 2025.12.12

    - name: Set up vcpkg binary cache
      if: runner.os == 'Windows'
      uses: actions/cache@v4
      with:
        path: ${{ env.VCPKG_DEFAULT_BINARY_CACHE }}
        key: ${{ runner.os }}-vcpkg-binary-cache-${{ hashFiles('vcpkg*.json') }}
        restore-keys: |
          ${{ runner.os }}-vcpkg-binary-cache-

    - name: check sf exist
      run: Powershell.exe -File .\scripts\check_sf_installed.ps1

    # we use winrt with coro support. Use the latest winsdk.
    # github runner has multiple versions of winsdk installed, and we use the latest one.
    - name: run cmake
      run: > 
        cmake . -DCMAKE_BUILD_TYPE=${{ matrix.BUILD_TYPE }} -B build -T host=x64 -A x64
    - name: run build
      run: cmake --build build --config ${{ matrix.BUILD_TYPE }} --parallel 4

    # mysql bin has conflicting dlls with fabric than prevents fabric from starting
    - name: Remove conflict dll paths
      shell: powershell
      run: |
        get-command libprotobuf.dll
        Remove-Item -Recurse -Force "C:\Program Files\MySQL\MySQL Server 8.0\bin"

    - name: start sf cluster
      shell: powershell
      run: |
        & "C:\Program Files\Microsoft SDKs\Service Fabric\ClusterSetup\DevClusterSetup.ps1" -CreateOneNodeCluster
    
    - name: start connection
      run: Powershell.exe -File .\scripts\check_cluster_online.ps1
    # # TODO: determine if stop cluster is needed

    # tests require cluster to be running are disabled
    - name: run test
      run: ctest -C ${{ matrix.BUILD_TYPE }} --test-dir build --verbose --repeat until-pass:3 --timeout 30

    - name: run example test
      run: Powershell.exe -File .\tests\examples_script_test.ps1 -Mode ${{ matrix.BUILD_TYPE }}

    - name: run echo example app
      run: Powershell.exe -File .\tests\echo_script_test.ps1

